<template>
<body>

<div id="preloader"></div>
<header class="header-one">

    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                            <img src="img/logo/aqeela-fix.png" alt="">
                        </a>
                    </div>
                </div>
                <!-- logo end -->
                <div class="col-md-9 col-sm-9">
                    <div class="header-right-link">
                        <!-- search option start -->
                        <form action="#">
                            <div class="search-option">
                                <input type="text" placeholder="Search...">
                                <button class="button" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <a class="main-search" href="#" style="padding-top: 10px;"><i class="fa fa-search"></i></a>
                        </form>
                        <!-- search option end -->
                    </div>
                    <!-- mainmenu start -->
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                                                            <li><a class="pagess" href="index.html">Home</a>
                                <li><a href="mukadimah.html">Mukadimah</a></li>
                                <li><a class="pagess" href="#">Pelayanan</a>
                                        <ul class="sub-menu">
                                    <li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
                                    <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                </ul>
                                </li>
                                <li><a href="faq.html"> FAQ</a></li>
                                <li><a href="contact.html">Kontak Kami</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo/logo.png" alt="" /></a>
                        </div>
                        <nav id="dropdown">
                            <ul>
                                <li><a class="pagess" href="index.html">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">Home</a></li>
                                </ul>
                            </li>
                                <li><a href="mukadimah.html">Mukadimah</a></li>
                            <li><a class="pagess" href="#">Pelayanan</a>
                                    <ul class="sub-menu">
                                <li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
                                <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                            </ul>
                            </li>
                                <li><a href="faq.html"> FAQ</a></li>
                            <li><a href="contact.html">Kontak Kami</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>
<!-- header end -->
<!-- Start breadcumb Area -->
<div class="page-area">
    <div class="breadcumb-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="breadcrumb">
                    <div class="bread-inner">
                        <div class="section-headline white-headline">
                            <h2>Kontak <span class="color">kami</span></h2>
                        </div>
                        <ul class="breadcrumb-bg">
                            <li class="home-bread">Home</li>
                            <li>Kontak kami</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End breadcumb Area -->
    <!-- Start contact Area -->
<div class="contact-page area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-head">
                    <h3>Kontak <span class="color">Kami</span></h3>
                    <!--<p>Are you looking for professional advice for your new business.Are you looking for professional advice for your new business</p>-->
                    <div class="contact-icon">
                        <div class="contact-inner">
                            <a href="#"><i class="icon icon-map"></i><span>Plaza Pondok Indah V Blok C2, Jakarta selatan</span></a>
                            <a href="#"><i class="icon icon-phone"></i><span>+6221 1234567</span></a>
                            <a href="#"><i class="icon icon-envelope"></i><span>arya.wicaksana@gmail.com</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End contact icon -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="contact-form">
                    <div class="row">
                        <form id="contactForm" method="POST" action="contact.php" class="contact-form">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="name" class="form-control" placeholder="Nama" required data-error="Please enter your name">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input type="text" id="msg_subject" class="form-control" placeholder="Subject" required data-error="Please enter your message subject">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea id="message" rows="7" placeholder="Pesan" class="form-control" required data-error="Write your message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                <button type="submit" id="submit" class="contact-btn">Kirim</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End contact Form -->
        </div>
    </div>
</div>

<!-- Start Footer bottom Area -->
<footer class="footer-1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a href="#"><img src="img/logo/aqeela-fix.png" alt=""></a>
                            </div>
                            <p>
                                Platform Pembiayaan Syariah
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Services Link</h4>
                            <ul class="footer-list">
                                <li><a href="contact.html">Kontak Kami</a></li>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="mukadimah.html">Mukadimah</a></li>
                                <li><a href="memilih-kami.html">mengapa Memilih Kami</a></li>
                                <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Kontak</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-2 hidden-sm col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Tags</h4>
                            <ul class="footer-tags">
                                <li><a href="#">Bisnis</a></li>
                                <li><a href="#">Industry </a></li>
                                <li><a href="#">Fintech</a></li>
                                <li><a href="#">P2PLanding</a></li>
                                <li><a href="#">P2P</a></li>
                                <li><a href="#">Keuangan</a></li>
                                <li><a href="#">Finance</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">konsultan</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Berlangganan Email</h4>
                            <p>
                                Berlangganan untuk mengetahui info dan promo lainnya
                            </p>
                            <div class="subs-feilds">
                                <div class="suscribe-input">
                                    <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                    <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2019
                            <a href="#">Aqeela</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</template>

<!-- script js -->
<script>

export default {
  data(){
    return{

    }
  },
  methods: {

  }
};
</script>
