<template>
    <body>

        <div id="preloader"></div>
        <header class="header-one">


            <!-- header-area start -->
            <div id="sticker" class="header-area hidden-xs">
                <div class="container">
                    <div class="row">
                        <!-- logo start -->
                        <div class="col-md-3 col-sm-3">
                            <div class="logo">
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <img src="img/logo/aqeela-fix.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- logo end -->
                        <div class="col-md-9 col-sm-9">
                            <div class="header-right-link">
                                <!-- search option start -->
                                <form action="#">
                                    <div class="search-option">
                                        <input type="text" placeholder="Search...">
                                        <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                    <a class="main-search" href="#" style="padding-top: 10px;"><i class="fa fa-search"></i></a>
                                </form>
                                <!-- search option end -->
                            </div>
                            <!-- mainmenu start -->
                            <nav class="navbar navbar-default">
                                <div class="collapse navbar-collapse" id="navbar-example">
                                    <div class="main-menu">
                                        <ul class="nav navbar-nav navbar-right">
																					<li><a class="pagess" href="index.html">Home</a>
										<li><a href="mukadimah.html">Mukadimah</a></li>
										<li><a class="pagess" href="#">Pelayanan</a>
												<ul class="sub-menu">
											<li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
											<li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
										</ul>
										</li>
										<li><a href="faq.html"> FAQ</a></li>
										<li><a href="contact.html">Kontak Kami</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- mainmenu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <div class="logo">
                                    <a href="index.html"><img src="img/logo/aqeela-fix.png" alt="" /></a>
                                </div>
                                <nav id="dropdown">
                                    <ul>
																			<li><a class="pagess" href="index.html">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home</a></li>
										</ul>
									</li>
										<li><a href="mukadimah.html">Mukadimah</a></li>
									<li><a class="pagess" href="#">Pelayanan</a>
											<ul class="sub-menu">
										<li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
										<li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
									</ul>
									</li>
										<li><a href="FAQ1.html"> FAQ</a></li>
									<li><a href="contact.html">Kontak Kami</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->
        </header>
        <!-- header end -->
        <!-- Start breadcumb Area -->
        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="bread-inner">
                            	<div class="section-headline white-headline">
									<h2>Aqeela <span class="color">FAQ</span></h2>
								</div>
								<ul class="breadcrumb-bg">
									<li class="home-bread">Home</li>
									<li>FAQ</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End breadcumb Area -->
       <!-- Start FAQ area -->
        <div class="faq-area bg-color area-padding">
            <div class="container">
                <div class="row">
                    <!-- Start Column Start -->
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="company-faq">
                            <div class="sub-headline">
                                <h4>Important FAQ</h4>
							</div>
                            <div class="faq-full">
								<div class="faq-details">
									<div class="panel-group" id="accordion">
										<!-- Panel Default -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="check-title">
													<a data-toggle="collapse" class="active" data-parent="#accordion" href="#check1">
														<span class="acc-icons"></span>Apakah Sistem Peer to Peer Lending ?
													</a>
												</h4>
											</div>
											<div id="check1" class="panel-collapse collapse in">
												<div class="panel-body">
													<p>
														Platform Aqeela adalah sebuah marketplace yang mempertemukan calon peminjam (Borrowers) dengan pemberi dana/investor (Lenders) secara langsung dan menjadi perantara yang mengurus akad hutang piutang kedua belah pihak serta mengawasi pembayarannya. Layanan ini disebut Peer-to-Peer (P2P) Lending.  Kami menjalankannya lewat aplikasi teknologi, sehingga mampu menurunkan biaya operasional dan lebih efisien. Dengan demikian, peminjam bisa menikmati rate pembiayaan lebih baik sementara investor mendapatkan imbal hasil lebih menguntungkan jika dibandingkan  instrumen investasi konvensional lain seperti tabungan atau deposito.
													</p>
												</div>
											</div>
										</div>
										<!-- End Panel Default -->
										<!-- Panel Default -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="check-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#check2">
														<span class="acc-icons"></span>Apa Yang Dimaksud Dengan Lenders dan Borrowers ?
													</a>
												</h4>
											</div>
											<div id="check2" class="panel-collapse collapse">
												<div class="panel-body">
													<p>
														Lenders dalam hal ini yaitu Individu atau Lembaga yang melakukan suatu investasi pendanaan pada Marketplace Platform Aqeela (bentuk penanaman modal sesuai dengan jenis investasi yang dipilihnya)
														Borrowers adalah Individu atau Lembaga yang menerima pendanaan dari Lenders , atas objek pendanaan yang diajukan pada Marketplace Platform Aqeela
														Adapun dalam mekanisme yang kami jalankan, pengertian borrowers dapat berupa : <br>
														<ol>
															<li>Individu/Institusi yang merupakan anggota Instansi/Lembaga Yayasan/Koperasi/Lembaga Keuangan Mikro</li><br>
															<li>Karyawan yang bekerja pada Instansi/Lembaga Yayasan/Koperasi/Lembaga Keuangan Mikro</li>
														</ol>
													</p>
												</div>
											</div>
										</div>
										<!-- End Panel Default -->
										<!-- Panel Default -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="check-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#check3">
														<span class="acc-icons"></span>Bagaimana cara Platform Aqeela menyeleksi calon peminjam berkualitas?
													</a>
												</h4>
											</div>
											<div id="check3" class="panel-collapse collapse ">
												<div class="panel-body">
													<p>
														Pola seleksi dimulai dari pemilihan calon Lending Partners kami. Lending Partners kami adalah Instansi, Lembaga Yayasan, Koperasi, atau Lembaga Keuangan Mikro yang telah memiliki reputasi dan track record yang baik dalam Industri Keuangan. <br>
														Proses seleksi melalui 3 tahapan :<br>
														<strong>Tahap 1 </strong><br>

														Kami melakukan seleksi pada Mitra Lending Partners kami, pola seleksi didasarkan pada :<br>
														-	Lama berdiri <br>
														-	Kredibilitas Pengurus <br>
														-	Proses GCG <br>
														-	Pengecekan SLIK Checking<br>
														-	Analisa Laporan Keuangan<br>
														-	Proses Verifikasi Validitas melalui Trade Checking, Community Checking, Dsb.<br>
														<br>
														<strong>Tahap 2 </strong><br>
														Proses Screening calon Borrowers yang dilakukan oleh Mitra Lending Partners kami, sesuai dengan Standard SOP  yang kami terapkan<br>
														<br>
														<strong>Tahap 3 </strong><br>
														Proses Assesment yang dijalankan oleh Tim Assesment Internal kami, melalui proses scoring serta risk assesment , dengan hasil akhir berupa output rating


													</p>
												</div>
											</div>
										</div>
										<!-- End Panel Default -->
										<!-- Panel Default -->
										<div class="panel panel-default">
											<div class="panel-heading">
												<h4 class="check-title">
													<a data-toggle="collapse" data-parent="#accordion" href="#check4">
														<span class="acc-icons"></span>
														Apakah Platform Aqeela diatur dan diawasi oleh Regulasi ?

													</a>
												</h4>
											</div>
											<div id="check4" class="panel-collapse collapse ">
												<div class="panel-body">
													<p>
													Sebagai platform P2P Lending, Aqeela dalam proses pendaftaran untuk memperoleh ijin dan diawasi oleh Otoritas Jasa Keuangan (OJK) sesuai Peraturan Nomor 77/POJK.01/2016 tentang Layanan Pinjam Meminjam Berbasis Teknologi (peer-to-peer lending).
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- End FAQ -->
							</div>
                        </div>
                    </div>
                    <!-- End Column -->
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="faq-content">
                        	<h4>Ada Pertanyaan ?</h4>
							<div class="faq-quote">
								<div class="row">
									<form id="contactForm" method="POST" action="contact.php" class="contact-form">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<input type="text" id="name" class="form-control" placeholder="Nama" required data-error="Masukkan Namamu">
											<div class="help-block with-errors"></div>
											<input type="email" class="email form-control" id="email" placeholder="Email" required data-error="Masukkan Emailmu">
											<div class="help-block with-errors"></div>
											<input type="text" id="msg_subject" class="form-control" placeholder="Subject" required="" data-error="Masukkan Subjek email">
											<div class="help-block with-errors"></div>
										</div>
										<div class="col-md-12 col-sm-12 col-xs-12">
											<textarea id="message" rows="7" placeholder="Massage" class="form-control" required data-error="Tuliskan Pesanmu"></textarea>
											<div class="help-block with-errors"></div>
											<button type="submit" id="submit" class="quote-btn">Kirim</button>
											<div id="msgSubmit" class="h3 text-center hidden"></div>
											<div class="clearfix"></div>
										</div>
									</form>
								</div>
							</div>
                        </div>
                    </div>
                    <!-- End Column -->
                </div>
            </div>
        </div>
        <!-- End FAQ area -->
        <!-- Start Footer bottom Area -->
        <footer class="footer-1">
            <div class="footer-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-5 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <div class="footer-logo">
                                    	<a href="#"><img src="img/logo/logo2.png" alt=""></a>
                                    </div>
                                    <p>
                                        Are you looking for professional advice for your new business.Are you looking for professional advice for your new business.Are you looking for professional advice for your new business.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <!-- end single footer -->
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <h4>Services Link</h4>
                                    <ul class="footer-list">
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Industry </a></li>
                                        <li><a href="#">Tax Planning</a></li>
                                        <li><a href="#">Online Consulting</a></li>
                                        <li><a href="#">Maketing Expert</a></li>
                                        <li><a href="#">Consulting</a></li>
                                        <li><a href="#">Business Planning</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end single footer -->
                        <div class="col-md-2 hidden-sm col-xs-12">
                            <div class="footer-content">
                                <div class="footer-head">
                                    <h4>Tags</h4>
                                    <ul class="footer-tags">
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Industry </a></li>
                                        <li><a href="#">Tax</a></li>
                                        <li><a href="#">Planning</a></li>
                                        <li><a href="#">Online</a></li>
                                        <li><a href="#">Consulting</a></li>
                                        <li><a href="#">Maketing</a></li>
                                        <li><a href="#">Expert</a></li>
                                        <li><a href="#">Consulting</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end single footer -->
                        <div class="col-md-3 col-sm-4 col-xs-12">
                            <div class="footer-content last-content">
                                <div class="footer-head">
                                    <h4>Subscribe</h4>
                                    <p>
                                        Are you looking for professional advice for your new business.Are you looking for professional advice for your new business
                                    </p>
                                    <div class="subs-feilds">
                                        <div class="suscribe-input">
                                            <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                            <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="copyright">
                                <p>
                                    Copyright © 2019
                                    <a href="#">Mentos</a> All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
	</body>
</template>
