<template>
<body>

<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div id="preloader"></div>
<header class="header-one">

    <!-- End top bar -->
    <!-- header-area start -->
    <div id="sticker" class="header-area hidden-xs">
        <div class="container">
            <div class="row">
                <!-- logo start -->
                <div class="col-md-3 col-sm-3">
                    <div class="logo">
                        <!-- Brand -->
                        <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                            <img src="img/logo/aqeela-fix.png" alt="" >
                        </a>
                    </div>
                </div>
                <!-- logo end -->
                <div class="col-md-9 col-sm-9">
                    <div class="header-right-link">
                        <!-- search option start -->
                        <form action="#">
                            <div class="search-option">
                                <input type="text" placeholder="Search...">
                                <button class="button" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                            <a class="main-search" href="#" style="padding-top: 10px;"><i class="fa fa-search"></i></a>
                        </form>
                        <!-- search option end -->
                    </div>
                    <!-- mainmenu start -->
                    <nav class="navbar navbar-default">
                        <div class="collapse navbar-collapse" id="navbar-example">
                            <div class="main-menu">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a class="pagess" href="index.html">Home</a>
                                    <li><a href="mukadimah.html">Mukadimah</a></li>
                                    <li><a class="pagess" href="#">Pelayanan</a>
                                            <ul class="sub-menu">
                                        <li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
                                        <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                    </ul>
                                    </li>
                                    <li><a href="faq.html"> FAQ</a></li>
                                    <li><a href="contact.html">Kontak Kami</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <!-- mainmenu end -->
                </div>
            </div>
        </div>
    </div>
    <!-- header-area end -->
    <!-- mobile-menu-area start -->
    <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-menu">
                        <div class="logo">
                            <a href="index.html"><img src="img/logo/aqeela-fix.png" alt="" /></a>
                        </div>
                        <nav id="dropdown">
                            <ul>
                                <li><a class="pagess" href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home</a></li>
                                    </ul>
                                </li>
                                    <li><a href="mukadimah.html">Mukadimah</a></li>
                                <li><a class="pagess" href="#">Pelayanan</a>
                                        <ul class="sub-menu">
                                    <li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
                                    <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                </ul>
                                </li>
                                    <li><a href="faq.html"> FAQ</a></li>
                                <li><a href="contact.html">Kontak Kami</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- mobile-menu-area end -->
</header>



<!-- Start Slider Area -->
<div class="intro-area">
    <div class="main-overly"></div>
    <div class="intro-carousel">
        <div class="intro-content">
            <div class="slider-images">
                <img src="img/slider/banner2.png" alt="">
            </div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- layer 1 -->
                                    <div class="layer-1-2">
                                        <h1 class="title2">Platform Pembiayaan <span class="color">Syariah</span></h1>
                                    </div>
                                    <!-- layer 2 -->
                                    <div class="layer-1-1 ">
                                        <p>Aqeela Fintech, merupakan model platform Financial Technology (Fintech) lending dengan pola Peer to Peer, Crowd Funding, Pengelolaan dana ZIS (Zakat, Infaq, Shadaqah) melalui tata cara pengelolaan yang berbasiskan Syariah
                                            Bersama Aqeela, kami berkomitmen mempersatukan umat untuk saling membantu melalui  konsep kerjasama pembiayaan syariah, sehingga pada akhirnya akan terjalin pemerataan ekonomi dengan kemudahan akses pendanaan yang tepat sasaran
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="intro-content">
            <div class="slider-images">
                <img src="img/slider/banner3.png" alt="">
            </div>
            <div class="slider-content">
                <div class="display-table">
                    <div class="display-table-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="layer-1-2">
										<h1 class="title2">Jenis <span class="color">Pembiayaan</span></h1>
                                    </div>
                                    <div class="layer-1-1">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="services-area bg-color area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Jenis <span class="color">Pembiayaan</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
         <div class="services-all">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-services">
                    <div class="service-inner">
                         <a class="service-icon" href="#">
                            <i class="flaticon-presentation-17"></i>
                        </a>
                        <div class="service-content">
                            <h4><a href="#">Pembiayaan Multiguna </a></h4>
                            <p>Merupakan pembiayaan jangka pendek multiguna untuk kebutuhan yang bersifat mendesak, seperti Biaya Rumah Sakit/Berobat, Keperluan Pendidikan, Down Payment Pembelian Kendaraan, dsb. Dengan jangka waktu maksimum 12 bulan
                                Fitur :<br>
                                <ol>
                                <li> Solusi cepat, mengantisipasi kebutuhan mendesak</li>
                                <li>Imbal hasil menarik  </li>
                                <li>Proses cepat , 1-2 hari kerja</li>
                                <li>Borrower dapat memilih opsi angsuran pembayaran bunga saja, dan pokok di akhir jatuh tempo kredit</li>
                                <li>Keseluruhan proses administrasi dilakukan secara online</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-services">
                    <div class="service-inner">
                        <a class="service-icon" href="#">
                            <i class="flaticon-notes"></i>
                        </a>
                        <div class="service-content">
                            <h4><a href="#">Pembiayaan Produktif – Anjak Piutang (AR Financing)  </a></h4>
                            <p>Merupakan pembiayaan modal kerja dana talangan atas proyek atau pekerjaan yang telah selesai, pemberian dana talangan ini ditujukan kepada borrower yang menunggu masa pembayaran dari pemberi kerja. Sifat pembiayaan jangka pendek maksimum 6 bulan
                                Fitur :<br>
                                <ol>
                                <li>Pembiayaan sampai dengan Rp. 2 Milyar </li>
                                <li>Imbal hasil menarik </li>
                                <li>Proses 3 hari kerja , dengan mekanisme crowd funding, apabila  dalam 3 hari jumlah nilai masih belum
                                mencukupi atau belum mencapai 60% dari kebutuhan dana, maka borrower diberi kesempatan untuk
                                memperpanjang untuk 3 hari kerja </li>
                                <li>Borrower dapat memilih opsi angsuran pembayaran bunga saja dan pokok di akhir jatuh tempo kredit</li>
                                </ol>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-services">
                    <div class="service-inner">
                        <a class="service-icon" href="#">
                            <i class="flaticon-notes"></i>
                        </a>
                        <div class="service-content">
                            <h4><a href="#">Pembiayaan Produktif – Anjak Piutang (AR Financing)  </a></h4>
                            <p>Merupakan pembiayaan modal kerja dana talangan atas proyek atau pekerjaan yang telah selesai, pemberian dana talangan ini ditujukan kepada borrower yang menunggu masa pembayaran dari pemberi kerja. Sifat pembiayaan jangka pendek maksimum 6 bulan
                                Fitur :<br>
                                <ol>
                                <li>Pembiayaan sampai dengan Rp. 2 Milyar </li>
                                <li>Imbal hasil menarik </li>
                                <li>Proses 3 hari kerja , dengan mekanisme crowd funding, apabila  dalam 3 hari jumlah nilai masih belum
                                mencukupi atau belum mencapai 60% dari kebutuhan dana, maka borrower diberi kesempatan untuk
                                memperpanjang untuk 3 hari kerja </li>
                                <li>Borrower dapat memilih opsi angsuran pembayaran bunga saja dan pokok di akhir jatuh tempo kredit</li></ol>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="services-area services-area-2 area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h3>Manfaat Berinvestasi pada Platform <span class="color"> Aqeela :</span></h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="services-all">
				<div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                        <div class="service-inner">
                            <a class="service-icon" href="#">
                                    <i class="flaticon-presentation-17"></i>
                            </a>
                            <div class="service-content">
                                    <h4><a href="#">Insya Allah Investasi amanah, likuid dan tepat sasaran</a></h4>
                                    <p>Dengan sistem keterbukaan informasi dan penentuan pola  penyaluran dan perhitungan yang tepat dan nilai investasi yang telah diperoleh dapat ditarik kapan saja sehinga investasi anda tanamkan lebih likuid dan aman</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                            <div class="service-inner">
                            <a class="service-icon" href="#">
                                <i class="flaticon-notes"></i>
                            </a>
                            <div class="service-content">
                                    <h4><a href="#">Sistem bagi hasil yang terbuka dan fair</a></h4>
                                    <p>Pola bagi hasil diantara Lenders dan Borrowers terbuka dan fair, dengan pola syariah sehingga memberikan informasi yang jelas dan transparan </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-services">
                            <div class="service-inner">
                                <a class="service-icon" href="#">
                                    <i class="flaticon-graph-3"></i>
                                </a>
                            <div class="service-content">
                                <h4><a href="#">Bermanfaat untuk sesama</a></h4>
                                <p>Investasi yang ditanamkan dapat membantu sesama umat untuk memulai dan mengembangkan usaha sehingga dapat langsung dirasakan manfaatnya, kerjasama yang terjalin saling menguntungkan dengan tujuan untuk meraih kesejahteraan bersama</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Start Footer bottom Area -->
<footer class="footer-1">
    <div class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <a href="#"><img src="img/logo/aqeela-fix.png" alt=""></a>
                            </div>
                            <p>
                                Platform Pembiayaan Syariah
                            </p>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Services Link</h4>
                            <ul class="footer-list">
                                <li><a href="contact.html">Kontak Kami</a></li>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="mukadimah.html">Mukadimah</a></li>
                                <li><a href="memilih-kami.html">mengapa Memilih Kami</a></li>
                                <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="contact.html">Kontak</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-2 hidden-sm col-xs-12">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>Tags</h4>
                            <ul class="footer-tags">
                                <li><a href="#">Bisnis</a></li>
                                <li><a href="#">Industry </a></li>
                                <li><a href="#">Fintech</a></li>
                                <li><a href="#">P2PLanding</a></li>
                                <li><a href="#">P2P</a></li>
                                <li><a href="#">Keuangan</a></li>
                                <li><a href="#">Finance</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">konsultan</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end single footer -->
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="footer-content last-content">
                        <div class="footer-head">
                            <h4>Berlangganan Email</h4>
                            <p>
                                Berlangganan untuk mengetahui info dan promo lainnya
                            </p>
                            <div class="subs-feilds">
                                <div class="suscribe-input">
                                    <input type="email" class="email form-control width-80" id="sus_email" placeholder="Type Email">
                                    <button type="submit" id="sus_submit" class="add-btn">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2019
                            <a href="#">Aqeela</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</template>

<!-- script js -->
<script>

export default {
  data(){
    return{

    }
  },
  methods: {

  }
};
</script>
