<template>
    <body>
        <div id="sticker" class="header-area hidden-xs">
            <div class="container">
                <div class="row">
                    <!-- logo start -->
                    <div class="col-md-3 col-sm-3">
                        <div class="logo">
                            <!-- Brand -->
                            <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <img src="img/logo/aqeela-fix.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-9">
                        <div class="header-right-link">
                            <!-- search option start -->
                            <form action="#">
                                <div class="search-option">
                                        <input type="text" placeholder="Search...">
                                        <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                </div>
                                <a class="main-search" href="#" style="padding-top: 10px;"><i class="fa fa-search"></i></a>
                            </form>
                            <!-- search option end -->
                        </div>
							<!-- mainmenu start -->
                            <nav class="navbar navbar-default">
                                <div class="collapse navbar-collapse" id="navbar-example">
                                    <div class="main-menu">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a class="pagess" href="index.html">Home</a>
                                            <li><a href="mukadimah.html">Mukadimah</a></li>
                                            <li><a class="pagess" href="#">Pelayanan</a>
                                                    <ul class="sub-menu">
                                                <li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
                                                <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                            </ul>
                                            </li>
                                            <li><a href="Faq.html"> FAQ</a></li>
                                            <li><a href="contact.html">Kontak Kami</a></li>
										</ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- mainmenu end -->
                        </div>
                    </div>
                </div>
            </div>

        <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mobile-menu">
                            <div class="logo">
                                <a href="index.html"><img src="img/logo/logo.png" alt="" /></a>
                            </div>

                            <nav id="dropdown">
								<ul>
                                        <li><a class="pagess" href="index.html">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index.html">Home</a></li>
                                    </ul>
                                    </li>
                                        <li><a href="mukadimah.html">Mukadimah</a></li>
                                    <li><a class="pagess" href="#">Pelayanan</a>
                                    <ul class="sub-menu">
                                        <li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
                                        <li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
                                    </ul>
                                    </li>
                                        <li><a href="faq.html"> FAQ</a></li>
                                    <li><a href="contact.html">Kontak Kami</a></li>
								</ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcrumb">
                        <div class="bread-inner">
                        <div class="section-headline white-headline">
            <h2>Mengapa memilih<span class="color">kami</span></h2>
            </div>
            <ul class="breadcrumb-bg">
            <li class="home-bread">Home</li>
            <li>Pelayanan</li>
            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


    <div class="about-page-area area-padding">
        <div class="container">
            <div class="row">
                <div class="support-all">
                    <!-- Start services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="support-services">
                       <a class="support-images" href="#">01</a>
                        <div class="support-content">
                            <!--<h4><a href="#">Professional Services</a></h4>-->
                            <p>Platform Aqeela merupakan Platform Pinjam Meminjam berbasis teknologi dengan menerapkan Prinsip Syariah</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="support-services">
                        <a class="support-images" href="#">02</a>
                        <div class="support-content">
                            <!--<h4><a href="#">Safe & Security</a></h4>-->
                            <p>Latar belakang Manajemen berpengalaman dalam Industri Keuangan selama lebih dari 10 tahun</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="support-services">
                        <a class="support-images" href="#">03</a>
                        <div class="support-content">
                            <!--<h4><a href="#">Live Support</a></h4>-->
                            <p>Penerapan Sistem Assessment menggunakan metode risk assessment, scoring, checking dengan output berupa informasi rating, sehingga meminimalisir resiko gagal bayar dari Borrowers</p>
                        </div>
                    </div>
                </div>
                <!-- Start services -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="support-services">
                        <a class="support-images" href="#">04</a>
                        <div class="support-content">
                            <!--<h4><a href="#">Live Support</a></h4>-->
                            <p>4.	Investasi anda akan dikelola secara terbuka, amanah dan tepat sasaran, untuk kemaslahatan umat </p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-area-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="copyright">
                        <p>
                            Copyright © 2019
                            <a href="#">Aqeela</a> All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</template>
