<template>
    <body>
        <div id="preloader"></div>
        <header class="header-one">

            <!-- header-area start -->
            <div id="sticker" class="header-area hidden-xs">
                <div class="container">
                    <div class="row">
                        <!-- logo start -->
                        <div class="col-md-3 col-sm-3">
                            <div class="logo">
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <img src="img/logo/aqeela-fix.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- logo end -->
                        <div class="col-md-9 col-sm-9">
                            <div class="header-right-link">
                                <!-- search option start -->
                                <form action="#">
                                    <div class="search-option">
                                        <input type="text" placeholder="Search...">
                                        <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                    <a class="main-search" href="#" style="padding-top: 10px;"><i class="fa fa-search"></i></a>
                                </form>
                                <!-- search option end -->
                            </div>
                            <!-- mainmenu start -->
                            <nav class="navbar navbar-default">
                                <div class="collapse navbar-collapse" id="navbar-example">
                                    <div class="main-menu">
                                        <ul class="nav navbar-nav navbar-right">
																					<li><a class="pagess" href="index.html">Home</a>
										<li><a href="mukadimah.html">Mukadimah</a></li>
										<li><a class="pagess" href="#">Pelayanan</a>
												<ul class="sub-menu">
											<li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
											<li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
										</ul>
										</li>
										<li><a href="faq.html"> FAQ</a></li>
										<li><a href="contact.html">Kontak Kami</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- mainmenu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <div class="logo">
                                    <a href="index.html"><img src="img/logo/logo.png" alt="" /></a>
                                </div>
                                <nav id="dropdown">
                                    <ul>
										<li><a class="pagess" href="index.html">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home</a></li>
										</ul>
									</li>
										<li><a href="mukadimah.html">Mukadimah</a></li>
									<li><a class="pagess" href="#">Pelayanan</a>
											<ul class="sub-menu">
										<li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
										<li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
									</ul>
									</li>
										<li><a href="faq.html"> FAQ</a></li>
									<li><a href="contact.html">Kontak Kami</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->
        </header>

        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="bread-inner">
                            	<div class="section-headline white-headline">
									<h2><span class="color">Mukadimah</span></h2>
								</div>
								<ul class="breadcrumb-bg">
									<li class="home-bread">> Mukadimah</li>

								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-services-page area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">

                        </div>
                    </div>
                    <!-- End left sidebar -->
                    <!-- Start service page -->
                    <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="row">
                            <!-- single-well start-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="single-well">
                                    <a href="#">
                                        <h3><strong>Mukadimah</strong></h3>
                                    </a>
                                    <p>Ukhwah Islamiyah, merupakan makna bahwa setiap umat muslim adalah bersaudara, tujuan hubungan antar umat yang menjadi cita-cita luhur umat muslim diseluruh dunia. Suatu keadaan dimana terbina hubungan yang sangat baik antar individu – individu , saling menghormati, saling membantu, saling peduli, dan perhatian sesama umat.<br>
                                    <br>
                                    Mengenai hal ini Allah ﷻ berfirman,<br><br>
                                    إِنَّمَا الْمُؤْمِنُونَ إِخْوَةٌ فَأَصْلِحُوا بَيْنَ أَخَوَيْكُمْ ۚوَاتَّقُوا اللَّـهَ لَعَلَّكُمْ تُرْحَمُونَ <br>
                                    <i>Orang-orang beriman itu bersaudara. Maka eratkanlah hubungan antara kedua saudaramu itu dan bertakwalah kepada Allah, supaya kamu mendapat rahmat. (Al-Hujurat: 10)</i><br>
                                    <br>
                                    Pembangunan ekonomi islam erat kaitannya dengan Ukhuwah Islamiyah, dengan landasan Ukhuwah Islamiyah yang terjalin dengan baik, maka majulah perekonomian umat yang berbasiskan syariah.   Seiring dengan berjalannya waktu, perekonomian syariah berkembang cukup pesat, umat semakin sadar untuk berperilaku ekonomi syariah yang diridhai Allah SWT.  <br>
                                    <br>
                                    Mengenai hal ini Allah ﷻ berfirman,<br>
                                    <img src="img/mukadimah.jpg" alt=""><br>

                                    <I>Hai orang-orang yang beriman, janganlah kamu saling memakan harta sesamamu dengan jalan yang batil, kecuali dengan jalan perniagaan yang Berlaku dengan suka sama-suka di antara kamu. dan janganlah kamu membunuh dirimu, Sesungguhnya Allah adalah Maha Penyayang kepadamu.(Q.S An - Nisa : 29)</i>
                                        <br>
                                        <br>
                                    <img src="img/mukadimah2.jpg" alt=""><br>
                                    <i>Sesungguhnya Allah menyuruh kamu menyampaikan amanat kepada yang berhak menerimanya, dan (menyuruh kamu) apabila menetapkan hukum di antara manusia supaya kamu menetapkan dengan adil. Sesungguhnya Allah memberi pengajaran yang sebaik-baiknya kepadamu. Sesungguhnya Allah adalah Maha mendengar lagi Maha melihat. (Q.S : An-Nisa : 58)</i>
                                    <br>
                                    <br>
                                    Menjawab tantangan pengembangan perekonomian islam, berlandaskan konsep Ukhuwah Islamiyah, Platform Aqeela mengembangkan layanan finasial berbasiskan syariah yang berbentuk platform Financial Technology (Fintech). Dengan menghubungkan umat yang berkemampuan lebih untuk membantu umat yang membutuhkan melalui mekanisme online. Kami memberikan akses permodalan kepada umat , dengan pola imbal hasil sesuai dengan prinsip syariah <br>

                                    <br>
                                    Dengan background management kami yang berpengalaman dalam industry finansial, kami menyajikan suatu marketplace yang terpercaya bagi umat untuk saling berbagi, membantu sesama melalui pola peer to peer ataupun crowd funding serta mekanisme Zakat Infaq Shadaqoh (ZIS) <br><br>
                                    Sebagai penyedia marketplace, kami menanamkan dan menguatkan prinsip kerja berdasarkan nilai-nilai integritas, inovasi, dan profesionalisme agar dapat memberikan manfaat kepada para stakeholder di dengan konsep sharing ekonomi umat. Dengan memberikan dan mengajukan pinjaman melalui PlatformAqeela, setiap umat dapat saling membantu meraih tujuan finansial sekaligus bersama-sama memberdayakan Perekonomian Indonesia.<br>

                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright">
                            <p>
                                Copyright © 2019
                                <a href="#">Aqeela</a> All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</template>
