<template>
    <body>
         <div id="preloader"></div>
        <header class="header-one">
            <!-- header-area start -->
            <div id="sticker" class="header-area hidden-xs">
                <div class="container">
                    <div class="row">
                        <!-- logo start -->
                        <div class="col-md-3 col-sm-3">
                            <div class="logo">
                                <!-- Brand -->
                                <a class="navbar-brand page-scroll sticky-logo" href="index.html">
                                    <img src="img/logo/aqeela-fix.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- logo end -->
                        <div class="col-md-9 col-sm-9">
                            <div class="header-right-link">
                                <!-- search option start -->
                                <form action="#">
                                    <div class="search-option">
                                        <input type="text" placeholder="Search...">
                                        <button class="button" type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                    <a class="main-search" href="#" style="padding-top: 10px;"><i class="fa fa-search"></i></a>
                                </form>
                                <!-- search option end -->
                            </div>
                            <!-- mainmenu start -->
                            <nav class="navbar navbar-default">
                                <div class="collapse navbar-collapse" id="navbar-example">
                                    <div class="main-menu">
                                        <ul class="nav navbar-nav navbar-right">
																					<li><a class="pagess" href="index.html">Home</a>
										<li><a href="mukadimah.html">Mukadimah</a></li>
										<li><a class="pagess" href="#">Pelayanan</a>
												<ul class="sub-menu">
											<li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
											<li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
										</ul>
										</li>
										<li><a href="faq.html"> FAQ</a></li>
										<li><a href="contact.html">Kontak Kami</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <!-- mainmenu end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- header-area end -->
            <!-- mobile-menu-area start -->
            <div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <div class="logo">
                                    <a href="index.html"><img src="img/logo/aqeela-fix.png" alt="" /></a>
                                </div>
                                <nav id="dropdown">
                                    <ul>
										<li><a class="pagess" href="index.html">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home</a></li>
										</ul>
									</li>
										<li><a href="mukadimah.html">Mukadimah</a></li>
									<li><a class="pagess" href="#">Pelayanan</a>
											<ul class="sub-menu">
										<li><a href="memilih-kami.html">Mengapa Memilih Kami</a></li>
										<li><a href="resiko-pendanaan.html">Resiko Pendanaan</a></li>
									</ul>
									</li>
										<li><a href="faq.html"> FAQ</a></li>
									<li><a href="contact.html">Kontak Kami</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- mobile-menu-area end -->
        </header>

        <div class="page-area">
            <div class="breadcumb-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="breadcrumb">
                            <div class="bread-inner">
                            	<div class="section-headline white-headline">
									<h2>Resiko<span class="color">Pendanaan</span></h2>
								</div>
								<ul class="breadcrumb-bg">
									<li class="home-bread">Pelayanan</li>
									<li>Resiko Pendanaan</li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-services-page area-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
					<div class="container">
                        <div class="row">
                            <!-- single-well start-->
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="single-well">
                                    <a href="#">
                                        <h3><strong>Setiap Investasi Pasti Mempunyai Resiko, Mengetahui Risiko Dapat Membantu Anda untuk Memilih Pendanaan Secara Termat dan Cermat</strong></h3>
                                    </a>
                                    <p>Pelajari risiko pendanaan , Lender selalu memiliki potensi kehilangan seluruh pendanaannya atau mendapati pembayaran pokok dan bunga yang akan diterima tidak sesuai dengan yang diperjanjikan. oleh sebab itu Lenders wajib mengetahui risiko-risiko yang melekat, serta mempertimbangkan berbagai macam risiko yang diprediksi bisa terjadi sebelum anda memulai untuk memilih berinvestasi pada platform Aqeela  </p>
                                </div>
                            </div>

                            <div class="row mar-row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="single-well">
                                        <a href="#">
                                            <h4>Apa Risiko Pendanaan Itu ?</h4>
                                        </a>
                                        <p>Risiko Pendanaan adalah kemungkinan atas kejadian gagal bayar atas pendanaan yang Lenders investasikan kepada Borrowers,  yang disebabkan oleh beberapa faktor , diantaranya:
                                        <br>
                                        <ul>
                                            <li><strong>Faktor Bisnis </strong></li><br>
                                        Kegagalan yang disebabkan karena menurunnya kelangsungan usaha dari Borrowers, seperti contoh Borrowers gagal dalam menjaga kualitas produk yang menyebabkan Borrowers kehilangan kepercayaan dari counterpart/stakeholder nya<br>
                                        <br>
                                        <li><strong>Faktor KOndisi Perekonomian</strong></li><br>
                                        Gagal bayar yang disebabkan karena kondisi ekonomi global atau yang melekat kepada suatu negara, seperti contoh daya beli masyarakat yang menurun yang diakibatkan resesi nilai kurs mata uang dalam negeri terhadap mata uang asing, sehingga berdampak kepada penjualan Borrowers yang menurun<br>
                                        <br>
                                        <li><strong>Faktor Fraud, atau yang berkaitan dengan tindakan penipuan dan penyimpangan hukum lainnya </strong></li><br>
                                            Tindakan penipuan atau penyimpangan hukum yang dilakukan oleh Borrowers, sehingga menimbulkan resiko gagal bayar. Seperti contoh Borrower  melakukan tindakan penipuan pemalsuan Invoice atau Slip Gaji, sehingga porsi pengembalian investasi melebihi pendapatan yang diterima oleh Borrowers, Pemalsuan Identitas Borrowers, Tindakan Figur peminjaman nama, Informasi palsu  dsb.  <br>
                                        </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
								<div class="container">
									<div class="row">
                                        <div class="single-well">
                                        <a href="#">
                                            <h4>Apa Yang Dilakukan Oleh Platform Aqeela untuk Meminimalisasi Event of Default tersebut ?</h4>
                                        </a>
                                        <ul class="marker-list">
                                            <p><li><strong>Platform Aqeela Bekerjasama Dengan Mitra Lending Partners Terpercaya</strong><br>
                                               Menggandeng Mitra Lending Partners berbadan hukum Yayasan dan Koperasi, yang telah memiliki track record baik di Industri Keuangan. Sehingga informasi yang kami sajikan pada Platform valid dan dapat dipercaya</li>
                                            <p><li><strong>Penerapan Sistem Scoring dan Rating untuk Borrowers</strong><br>
                                                Setiap Borrowers yang diupload pada platform Aqeela telah melalui proses assestment dan scoring  atas laporan keuangan, konfirmasi pengecekan validitas data, trade checking, community checking , yang dituangkan dalam laporan akhir berupa Laporan Rating (dapat didownload)</li>

                                            <p><li><strong>Setiap Pendanaan Di-Asuransikan (Takaful)</strong><br>
                                                Salah satu bentuk mitigasi resiko atas pendanaan yang disalurkan oleh Lenders, seluruh investasi pendanaan pada platform Aqeela dicover oleh Asuransi Kredit dari Perusahaan Asuransi yang kredible. Mekanisme cover atas kejadian gagal bayar adalah sebesar 70% dari nilai baki debet pinjaman.
                                                (Cat. Asuransi Kredit merupakan mitigasi second way out, Perusahaan Asuransi sewaktu-waktu dapat menolak klaim ganti rugi apabila klaim yang diajukan tidak memenuhi persyaratan)</li>

                                            <p><li><strong>Monitoring Berkala kepada Mitra Lending Partners</strong><br>
                                                Tim Management Aqeela secara periodik melakukan kunjungan kepada Mitra Lending Partner, hal ini merupakan tindakan untuk mengetahui perubahan-perubahan yang terjadi pada Mitra Lending Partner kami, sehingga kerjasama yang kami lakukan dapat selalu terjaga dengan baik</li>

                                            <p><li><strong>Sistem Pola Penagihan Intensif </strong><br>
                                                Usaha penagihan akan dilakukan melalui Tim Penagihan Aqeela, dan apabila diperlukan, Unit Penagihan Pihak Ketiga akan senantiasa membantu upaya penagihan yang sesuai dengan koridor hukum yang berlaku. <br><br>
                                                (Cat. Upaya penagihan tidak dapat menjamin kesuksesan dari Pihak Ketiga atau upaya-upaya hukum untuk menagihkan sisa pinjaman kepada Borrowers sehingga Lender tetap dapat mengalami kerugian sepenuhnya dari investasi pendanaan yang ditanamkan)</li>

                                        </ul>

                                        </div>
									</div>
								</div>

                                <div class="row mar-row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="container">
                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End single page -->
                                        <div class="container">
                                            <div class="row">
                                                <img src="img/service/gambar.jpg" alt="" align="center" width="500" height="500"><br><br>
                                                <h4>Bantu Mereka Yang Memiliki Kemauan Bayar / Willingness to Pay, Tetapi Usaha Masih Belum Membaik</h4>
                                                 <p>Dengan Pola Syariah, kami yakin setiap Lenders yang berinvestasi memiliki misi untuk membantu mengembangkan usaha umat, dan setiap Borrowers yang mengajukan pendanaan memiliki itikad baik. Lenders dan Borrowers mengerti kondisi baik dan kondisi kurang baiknya, menerapkan prinsip “Berdiri Sama Tinggi, Duduk Sama Rendah”. Oleh karena itu dalam sistem kami Lenders akan diberi Opsi untuk memberikan keleluasaan pembayaran atas kondisi borrowers yang kurang baik untuk mengembalikan investasi pendanaan diluar kondisi normal. Dengan sistem tersebut, maka perjanjian awal akan direnewal sesuai dengan kesepakatan kedua belah pihak, dan nominal serta jadwal pengembalian akan direstrukturisasi sesuai kemampuan Borrower dan kesepakatan Lenders   </p>
                                            </div>
                                        </div>
                               </div>

                            </div>


                        </div>
					</div>
                </div>
            </div>
        </div>

        <div class="footer-area-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright">
                            <p>
                                Copyright © 2019
                                <a href="#">Aqeela</a> All Rights Reserved
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</template>
